@model List<PatientsInformationAPI.Models.PatientDataModel>

@{
    //ViewBag.Title = "Patient List";
}

<div class="container">
    <h2>Patient Demographics</h2>
    <br />
    <br />
    <h4>Patient List</h4>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ForeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.HomeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.HomeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    
    </div>
